.colorelink{
    color: #403d3d
    ;
}

header{
    background: url(./img/mountains2.png) left bottom no-repeat, url(./img/switzerland-862870_1920.jpg) left top no-repeat;
    

    height: 50vh;
    position: relative;
    z-index: 1;
}

.loreminiziale{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(3);
  color: darkred;
  font-family: 'Nova Square';
  
  
}

.letter-spa{
    letter-spacing: 1vw;}

.font-title{
    font-family: 'Oswald', sans-serif;
}

.loremdue{
    color: #403d3d;}

.tred2{
        color: darkred !important;
        font-family: 'Nova Square';
}

.tred{
    color: darkred !important;
    font-size: xx-large;
    font-family: 'Nova Square';
}

*{
    border: 0px !important;
    
}

.pulsantelorem{
    font-family: 'Nova Square';
    padding: 25px;
    background-color: darkred;
    color: white;

}

.backgroundlorem{
    background-image:url(./img/trees2.png);
    width: 100%;
    height: 60vh;
}
.backgroundcolore{
    background-color: #ececec !important;
}

.backgroundbianco{
    background-color: white !important;
}

.backgroundeimgcard{
    background-image: url(./img/single.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.imgcerchiopiccola{
    border-radius: 50%;
    height:6rem;
}

.imgcerchiogrande{
    border-radius: 50%;
    height: 15rem;
}

.imagebackgroundfoot{
    background-image: url(./img/other.png);
    height: 50vh;
}



.backgroundfooter{

    background-color: darkred;
    color: white !important;
}

